*{
    margin: 0;
    padding: 0;
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-color:darkolivegreen;
    color: antiquewhite;
    padding: 30px;
}

header h1{
    margin-bottom: 10px;
    font-size: 42px;

}
.produtos{
    display: flex;
    color:#a66948;
    flex-wrap: wrap;
    justify-content: center;/* center - flex-start or end*/
    gap: 25px; /*espaçamneto no meio de duas caixas*/
    padding: 30px;
    max-width: 1300px;
    margin: auto; /*Para centralizar use auto*/
    
}

.card{
    width: 300px;
    background-color: bisque;
    border-radius: 10px;
    padding-bottom: 20px;
    
}
.card img{
    width: 100%;
    height: 200px;
    /* /* Object-fit: cover; recortar quando a img é grande */
}

.card:hover{
transform: translateY(-5px);
}
.card h2{
    color: rgb(56, 56, 24);
    padding: 15px;
    text-align: center;
}
.card p{
    padding: 0 15px 15px;
    color: chocolate;
}